.back_to_top {
  position: fixed;
  bottom: rem(30);
  right: rem(20);
  z-index: 9999;
  cursor: pointer;
  display: none;
}

.btn-circle {
  width: rem(50);
  height: rem(50);
  border-radius: 35px;
}

.btn-circle-search {
  width: rem(40);
  height: rem(40);
  border-radius: 35px;
}

.btn-circle-search-svg {
  transform: translate(-4px, -1px);
}

.back_to_top-show {
  display: block;
}
