// Основные стили навигации
.navu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  gap: 20px;

  .navigate {
    display: flex;
    flex-direction: row;
    align-items: right;
    gap: 20px;
    flex-grow: 1;
    justify-content: flex-end;
  }
  .nav-item {
    color: $primary-color;
  }

  // Стили для кнопки входа
  .login-button {
    display: flex;
    align-items: center;
    text-decoration: none;

    .u-button {
      display: flex;
      align-items: center;
      border: none;
      background: $primary-color;
      color: white;
      cursor: pointer;
      transition: all 0.2s ease;

      h4 {
        margin: 0;
        font-weight: 400;
      }
      svg {
        font-size: 1.5rem;
      }
    }

    // Стили для мобильных устройств
    @include phone {
      .u-button {
        justify-content: center;
        padding: 0 25px;
        h4 {
          display: none;
        }

        svg {
          font-size: 1.5rem;
        }
      }
    }
    // Стили для мобильных устройств
    @include sm-phone {
      .u-button {
        justify-content: center;
        padding: 0 16px;

        h4 {
          display: none;
        }

        svg {
          font-size: 1.5rem;
        }
      }
    }
    @include xs-phone {
      .u-button {
        justify-content: center;
        padding: 0 16px;

        h4 {
          display: none;
        }

        svg {
          font-size: 1.5rem;
        }
      }
    }
  }
}

// Логотип
.logo {
  // Базовые стили
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: $primary-color;
  transition: all 0.3s ease;

  // Дефолтное лого для самых больших экранов
  @include lg-desktop {
    width: 130px;
    height: 45px;
    mask-image: url('/static/img/logo-urfu-white.svg');
  }

  // Десктоп
  @include desktop {
    width: 120px;
    height: 42px;
    mask-image: url('/static/img/logo-urfu-white.svg');
  }

  // Планшеты
  @include tablet {
    width: 110px;
    height: 40px;
    mask-image: url('/static/img/logo-urfu-white.svg');
  }

  // Телефоны
  @include phone {
    width: 100px;
    height: 35px;
    mask-image: url('//openedu.urfu.ru/files/courses_catalog/UrFULogo1.svg');
  }

  // Маленькие телефоны
  @include sm-phone {
    width: 90px;
    height: 32px;
    mask-image: url('//openedu.urfu.ru/files/courses_catalog/UrFULogo1.svg');
  }

  // Очень маленькие телефоны
  @include xs-phone {
    width: 80px;
    height: 30px;
    mask-image: url('//openedu.urfu.ru/files/courses_catalog/UrFULogo1.svg');
  }
}
