.title_catalog {
  position: relative;
  text-align: center;

  h1 {
    font-weight: 300;
    line-height: 1;
    margin: 0;
  }
}

.top-txt-container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.top-txt-container-sub {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
