.brand_img {
  fill: $primary-color;
  width: rem(45);
}

.navbar-brand {
  display: -webkit-inline-box;
  padding-top: 0.3rem;
  margin-right: 0;
}

.navbar_text_small {
  font-size: rem(12);
}

.bg_img {
  width: 100%;
  background-size: cover;
  position: absolute;
  background-attachment: fixed;
  z-index: -99999;
}

.dropdown-menu {
  left: rem(-30);
}

.nav-item {
  padding-right: 0.5rem;
}

@include phone {
  .brand_img {
    width: rem(36);
  }
  .navbar_text_small {
    font-size: rem(10);
  }
  .dropdown-menu {
    left: rem(-10);
  }
  .nav-item {
    padding-right: 0.25rem;
  }
}
.logo {
  width: 110px;
  height: 40px;
  background-color: $primary-color; /* Цвет, которым будет "закрашен" логотип */
  mask-image: url('/static/img/logo-urfu-white.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
}
