.t838__blockinput {
  display: flex; // меняем с table-cell на flex для выравнивания инпута и крестика
  align-items: center;
  height: 40px; // фиксированная высота для удобства
  width: 100%;
  position: relative;
  background: #fff;
  border: 1px solid $primary-color;
  border-radius: 35px;
  box-sizing: border-box;
  padding: 0 20px;
}

.t-input {
  flex-grow: 1;
  border: none;
  height: 100%;
  font-size: 1rem;
  border-radius: 35px;
  outline: none;

  &::placeholder {
    color: #999;
  }
  &:focus {
    outline: none;
    box-shadow: none !important;
  }
}

.t-site-search-close {
  fill: #b6b6b6;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  position: relative; // убираем абсолютное позиционирование, чтобы не растягивался

  display: none;
  flex-shrink: 0; // фиксируем размер и не даём сжиматься

  &:hover {
    fill: #555;
  }
}

.show_close {
  display: block !important;
}

.is-show {
  display: flex;
}

.is-hidden {
  display: none;
}
