@import './scss/utils/vars';
@import './scss/modules/bootstrapTheme';
@import './scss/utils/libs';
@import './scss/utils/mixins';
@import './scss/modules/header';
@import './scss/modules/headerTitle';
@import './scss/modules/footer';
@import './scss/modules/cardItem';
@import './scss/modules/aboutUsPage';
@import './scss/modules/cardItemOrg';
@import './scss/modules/buttonUp';
@import './scss/modules/mobileFilter';
// @import './scss/modules/mobileMenu';
@import './scss/modules/searchInput';
@import './scss/modules/courseAbout';

html {
  color: $mainFontColor;
  font-size: $mainFontSize;
  height: 100%;
  line-height: $mainLineHeight;

  .container {
    --bs-gutter-x: 4.5rem;
  }

  .question-text {
    h2,
    h3,
    h4 {
      font-weight: 300 !important;
      margin-bottom: 1rem;
      margin-top: 2rem;
    }
  }

  @include lg-desktop {
    font-size: 18px;
    .bg_img {
      height: rem(750);
    }
    .top-txt-container {
      min-height: rem(800);
    }
    .top-txt-container-sub {
      min-height: rem(200);
    }
    .p-custom {
      padding-left: 3rem !important;
      padding-right: 3rem !important;
    }
    .p-custom-2 {
      padding: 3rem;
    }
    .header {
      display: none;
    }
    .backImg {
      @include back-img-style(40%, 100% 40%, 200%);
      height: 200px;
    }
    .img-about-size {
      @include img-about-size(95px);
    }
  }

  @include desktop {
    font-size: 16px;
    .bg_img {
      height: rem(750);
    }
    .top-txt-container {
      min-height: rem(800);
    }
    .top-txt-container-sub {
      min-height: rem(200);
    }
    .p-custom,
    .p-custom-2 {
      padding: 3rem;
    }
    .header {
      display: none;
    }
    .backImg {
      @include back-img-style(40%, 100% 40%, 200%);
      height: 200px;
    }
    .img-about-size {
      @include img-about-size(95px);
    }
    .teacher {
      @include teacher-style;

      // Добавляем адаптацию для мобильных
      @media (max-width: 768px) {
        @include teacher-style-mobile;
      }
    }
  }

  @include tablet {
    font-size: 15px;
    .message {
      margin-top: rem(50) !important;
      margin-bottom: 0 !important;
    }
    .bg_img {
      height: rem(550);
    }
    .top-txt-container {
      min-height: rem(600);
    }
    .top-txt-container-sub {
      min-height: rem(310);
    }
    .p-custom,
    .p-custom-2 {
      padding: 3rem;
    }
    .navbar {
      display: flex !important;
    }
    .filter_pc,
    .search_pc {
      display: none;
    }
    .search_pc {
      display: block;
    }
    .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar-nav {
      flex-direction: row;
      .nav-item {
        padding: 0.5rem;
      }
    }
    .header {
      display: none;
    }
    .backImg {
      @include back-img-style(40%, auto 50%, 200%);
      height: 200px;
    }
    .img-about-size {
      @include img-about-size(95px);
    }
    .teacher {
      @include teacher-style;

      @media (max-width: 768px) {
        @include teacher-style-mobile;
      }
    }
  }

  @include phone {
    font-size: 14px;
    .bg_img {
      height: rem(400);
    }
    .top-txt-container {
      min-height: rem(420);
    }
    .top-txt-container-sub {
      min-height: rem(330);
    }

    .p-custom {
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
    }
    .p-custom-2 {
      padding: 1rem;
    }
    .container-course_about {
      margin-top: 4rem !important;
    }
    .margin-custom-catalog {
      margin-top: rem(60);
    }
    .margin-custom-catalog_1 h3 {
      padding-top: rem(30);
    }
    .backImg {
      @include back-img-style(40%, auto 100%, 195%);
      margin-top: rem(59);
      height: 150px;
    }
    .backImg h2,
    .title_catalog h2 {
      font-size: 1.8rem;
      padding-left: 0 !important;
    }
    .img-about-size {
      @include img-about-size(95px);
    }
    .teacher {
      @include teacher-style;

      @media (max-width: 768px) {
        @include teacher-style-mobile;
      }
    }
  }

  @include sm-phone {
    .top-txt-container-sub {
      min-height: rem(360);
    }
    .backImg {
      @include back-img-style(40%, -40% -40%, 120%);
      margin-top: rem(49);
      height: 150px;
    }
    .backImg h2 {
      font-size: 1.5rem;
      padding-left: 0rem !important;
    }
    .img-about-size {
      @include img-about-size(50px);
    }
    .card-title-org {
      font-size: 1.2rem;
    }
  }

  @include xs-phone {
    .top-txt-container-sub {
      min-height: rem(350);
    }
    .backImg {
      @include back-img-style(45%, -5% -50%, 120%);
      margin-top: rem(45);
      height: 150px;
    }
    .backImg h2 {
      font-size: 1.5rem;
      padding-left: 0 !important;
    }
  }

  body {
    font-family: $mainFont;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    color: $default-color;

    // Обновленные стили для секции преподавателей
    .course-staff {
      max-width: 1200px;
      display: grid;
      margin-bottom: 2rem;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 1.2rem;

      h2 {
        text-align: left;
        grid-column: 1 / -1;
      }

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        max-width: 500px;
        margin: 0 auto;
      }

      .teacher {
        @include teacher-style;
      }
    }
  }

  .message {
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    background-color: #fff9db;
    color: #664d03;
    border: 1px solid #ffeeba;
    font-family: Arial, sans-serif;
    font-size: 14px;
    position: relative;

    .text {
      margin: 10px 15px 0;
    }

    .close-btn {
      background: none;
      border: none;
      color: #664d03;
      font-size: 16px;
      cursor: pointer;
      padding: 0;
      margin: 15px;

      &:hover {
        color: #000;
      }
    }
  }
}
